<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kts">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Kts">
        <activity
            android:name=".activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.animations.AnimationActivity" />
        <activity android:name=".activity.touch.CeShiTouchActivity" />
        <activity android:name=".activity.cavas.CavansActivity" />
        <activity android:name=".activity.viewpager.MyViewPagerActivity" />
        <activity android:name=".activity.cavas.ClockActivity" />
        <activity android:name=".activity.cavas.TextViewActivity" />
        <activity android:name=".activity.cavas.AllTextViewActivity" />
        <activity android:name=".activity.cavas.ZidingyiTextActivity" />
        <activity android:name=".activity.cavas.text.StaticLayoutActivity" />
        <activity android:name=".activity.cavas.text.BgTextActivity" />
    </application>

</manifest>